@mixin border {
  border: 1px solid wheat;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.table {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/carbon_fibre.png");
  width: auto;
  height: 100vh;
}

.machine {
  @include border;
}
.mainScreen {
  @include border;
}
.screen {
  @include border;
  width: 100px;
  height: 100px;
  user-select: none;
  text-align: center;
  font-size: 50px;
}
.hand {
  @include border;
  user-select: none;
  font-size: 50px;
  &:hover{
    cursor: pointer;
  }
  &:active{
    scale: 0.9;
  }
}
.score {
  color: #ffffc4;
  font-size: 25px;
  user-select: none;
}